* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #e9ecf4;
  font-family: 'Bree Serif', serif;
  font-family: 'Poppins', sans-serif;
  text-align: center; }

img {
  width: 100%; }

a {
  text-decoration: none;
  color: #78c2ad;
  font-weight: bold; }

.grid {
  width: 90%;
  max-width: 1000px;
  margin: 10px auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(auto, 1fr, minmax(min-content));
  grid-template-areas: "header header header header" "banner banner banner banner" "carrusel carrusel carrusel carrusel" "titulo-1 titulo-1 titulo-1 titulo-1" "box-1 box-2 box-3 box-4" "titulo-2 titulo-2 titulo-2 titulo-2" "box-5 box-5 box-6 box-6" "titulo-3 titulo-3 titulo-3 titulo-3" "box-7 box-7 box-8 box-8" "pie pie pie pie"; }

.header {
  grid-area: header; }

.banner {
  grid-area: banner; }

.carousel {
  grid-area: carrusel; }

.titulo-1 {
  grid-area: titulo-1;
  background: #f8f9fa;
  padding: 20px;
  border-radius: 4px;
  margin-top: 10px; }

.box-1 {
  grid-area: box-1;
  background: #f8f9fa;
  padding: 20px;
  border-radius: 4px;
  margin-top: 10px; }

.box-2 {
  grid-area: box-2;
  background: #f8f9fa;
  padding: 20px;
  border-radius: 4px;
  margin-top: 10px; }

.box-3 {
  grid-area: box-3;
  background: #f8f9fa;
  padding: 20px;
  border-radius: 4px;
  margin-top: 10px; }

.box-4 {
  grid-area: box-4;
  background: #f8f9fa;
  padding: 20px;
  border-radius: 4px;
  margin-top: 10px; }

.box-5 {
  grid-area: box-5;
  background: #f8f9fa;
  padding: 20px;
  border-radius: 4px;
  margin-top: 10px; }

.box-6 {
  grid-area: box-6;
  background: #f8f9fa;
  padding: 20px;
  border-radius: 4px;
  margin-top: 10px; }

.box-7 {
  grid-area: box-7;
  background: #f8f9fa;
  padding: 20px;
  border-radius: 4px;
  margin-top: 10px; }

.box-8 {
  grid-area: box-8;
  background: #f8f9fa;
  padding: 20px;
  border-radius: 4px;
  margin-top: 10px; }

.titulo-2 {
  grid-area: titulo-2;
  background: #f8f9fa;
  padding: 20px;
  border-radius: 4px;
  margin-top: 10px; }

.titulo-3 {
  grid-area: titulo-3;
  background: #f8f9fa;
  padding: 20px;
  border-radius: 4px;
  margin-top: 10px; }

.pie {
  grid-area: pie; }

header img {
  height: 100px;
  width: auto;
  margin-right: 10px; }

.box-1 .contenedor-img, .box-2 .contenedor-img, .box-3 .contenedor-img, .box-4 .contenedor-img {
  overflow: hidden;
  margin-bottom: 10px; }
  .box-1 .contenedor-img img:hover, .box-2 .contenedor-img img:hover, .box-3 .contenedor-img img:hover, .box-4 .contenedor-img img:hover {
    transform: scale(1.3);
    transition: 0.8s; }

.box-1 strong, .box-2 strong, .box-3 strong, .box-4 strong {
  color: #343a40; }

.box-1 h3, .box-2 h3, .box-3 h3, .box-4 h3 {
  font-size: 1.5rem;
  color: #888; }

.box-1 p, .box-2 p, .box-3 p, .box-4 p {
  font-size: 1rem; }

.box-1 .boton, .box-2 .boton, .box-3 .boton, .box-4 .boton {
  background-color: #f3969a;
  padding: 10px;
  border-radius: 6px;
  color: #f8f9fa; }
  .box-1 .boton:hover, .box-2 .boton:hover, .box-3 .boton:hover, .box-4 .boton:hover {
    background-color: pink; }

.box-5 .boton, .box-6 .boton {
  background-color: #f3969a;
  padding: 10px;
  border-radius: 6px;
  color: #f8f9fa; }
  .box-5 .boton:hover, .box-6 .boton:hover {
    background-color: pink; }

.box-5 .contenedor-blog, .box-6 .contenedor-blog {
  display: flex;
  flex-direction: column; }

.box-5 .blog-entrada, .box-6 .blog-entrada {
  font-size: 1.3rem; }
