@mixin escala {
    .contenedor-img{
        overflow: hidden;
        margin-bottom: 10px;
        img{
            &:hover{
                transform: scale(1.3);
                transition: 0.8s;
    
            }
        }
    
        
    }
}

@mixin descripcion {
    strong{
        color: $gris3;
    }
    h3{
        font-size: 1.5rem;
        color: $gris2;
    }
    p{
        font-size: 1rem;
    }
    
}

@mixin boton {
    .boton{
        background-color: $rosa;
        padding: 10px;
        border-radius: 6px;
        color: $bgcolor-secciones;
        &:hover{
            background-color: pink;
        }
        
    }
  
}

.box-1, .box-2, .box-3, .box-4{
    @include escala;
    @include descripcion;
    @include boton;
  
}

.box-5, .box-6{
    @include boton;
    .contenedor-blog{
        display: flex;
        flex-direction: column;
    }
    .blog-entrada{
        font-size: 1.3rem;
        
    }
    
    
}



